* {
  outline: none;
}

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, em, img, strong, sub, sup, b, u, i, center,
ol, ul, li, fieldset, form, label, legend,
article, aside, details, figure, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details,
footer, header, nav, section {
  display: block;
}

body {
  font-family: "Exo", sans-serif;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

.container {
  overflow: hidden;
}

.header {
  background: url(../images/header-back.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__heading {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  color: #616161;
  margin-bottom: 30px;
  max-width: 500px;
}
.header__btn {
  background-color: #ff6d6d;
  height: 45px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #ff6d6d;
  font-size: 13px;
  color: #fff;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  transition: background-color 1.5s;
}
.header__btn:hover {
  background-color: rgba(255, 15, 15, 0.932);
}

.design {
  margin-top: 40px;
  padding: 0 35px;
}
.design__heading {
  color: #ff6d6d;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}
.design__headline {
  color: #282828;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}
.design__headline_dots {
  color: #ff6d6d;
}
.design__text {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 23px;
}
.design__block {
  display: none;
}

.features {
  background-color: #f6f5f3;
  margin-top: 40px;
}
.features__heading {
  color: #ff6d6d;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  padding-top: 40px;
  margin-left: 35px;
}
.features__headline {
  color: #282828;
  font-size: 30px;
  font-weight: 400;
  margin-left: 35px;
}
.features__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__item h4 {
  font-size: 20px;
  color: #282828;
  font-weight: 500;
  margin-top: 20px;
}
.features__item p {
  width: 280px;
  text-align: center;
  margin: 12px 0 40px;
  color: #888888;
}
.features__images {
  display: none;
}

.service {
  margin-top: 40px;
  padding: 0 35px;
  text-align: right;
}
.service__side-photo {
  display: none;
}
.service__heading {
  color: #ff6d6d;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}
.service__headline {
  color: #282828;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}
.service__text {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 23px;
}

.testimonials {
  margin-top: 40px;
  background-image: url(../images/testimonials-back.png);
}
.testimonials__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.testimonials__item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.testimonials__item h3 {
  font-size: 21px;
  font-weight: 500;
}
.testimonials__item span {
  color: #ff6d6d;
  font-size: 13px;
}
.testimonials__item p {
  color: #a1a1a1;
  margin: 15px 0 35px;
  width: 290px;
  text-align: center;
  font-size: 16px;
  font-style: italic;
}
.testimonials__item:last-child {
  margin-bottom: 30px;
}
.testimonials__partners {
  display: none;
}

.new-features {
  margin-top: 40px;
  padding: 0 35px;
}
.new-features__heading {
  color: #ff6d6d;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}
.new-features__headline {
  color: #282828;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}
.new-features__text {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 23px;
}
.new-features__img {
  display: none;
}

.features-form {
  background-color: #323969;
  margin-top: 40px;
}
.features-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.features-form__block {
  display: none;
}
.features-form__heading {
  color: #ff6d6d;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  padding-top: 40px;
}
.features-form__headline {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  width: 300px;
}
.features-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.features-form__input {
  margin-bottom: 10px;
  background-color: #464c77;
  border: 1px solid #999cb4;
  width: 160px;
  height: 27px;
  color: #f6f5f3;
  padding-left: 10px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 11px;
  border-radius: 3px;
}
.features-form__input::placeholder {
  color: #f6f5f3;
  text-transform: uppercase;
}
.features-form__btn {
  background-color: #ff6d6d;
  margin-top: 10px;
  height: 30px;
  width: 110px;
  border-radius: 5px;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  transition: border 1s, color 1s, background-color 1s;
}
.features-form__btn:hover {
  border: 1px solid #ff6d6d;
  color: #ff6d6d;
  background-color: #fff;
}
.features-form__text {
  margin: 40px 0 30px;
  color: #8084a0;
  font-size: 13px;
}
.features-form__text a {
  color: #8084a0;
  text-decoration: underline;
}

.footer {
  margin-top: 40px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__item p {
  margin: 20px 0 10px;
  width: 280px;
  color: #868686;
  text-align: center;
  line-height: 25px;
}
.footer__item span {
  color: #868686;
  margin-bottom: 5px;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo h3 {
  font-size: 25px;
  font-weight: 400;
  margin-right: 4px;
}
.footer__links {
  display: none;
}
.footer__form {
  display: none;
}

@media screen and (min-width: 599px) {
  .header__heading {
    font-size: 40px;
  }
  .header__btn {
    height: 50px;
    width: 185px;
    font-size: 15px;
  }

  .design__headline {
    font-size: 32px;
    max-width: 500px;
  }
  .design__text {
    max-width: 600px;
  }

  .features {
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .features__headline {
    font-size: 32px;
  }
  .features__items {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .features__item {
    margin-right: 20px;
  }
  .features__item:last-child {
    margin-right: 0;
  }

  .service__headline {
    font-size: 32px;
  }

  .testimonials__container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .new-features__headline {
    font-size: 32px;
  }
  .new-features__text {
    max-width: 600px;
  }
  .new-features__img {
    display: none;
  }
}
@media screen and (min-width: 999px) {
  .design {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    min-height: 690px;
  }
  .design__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .design__heading {
    margin-left: 80px;
  }
  .design__headline {
    margin-left: 77px;
  }
  .design__text {
    margin-left: 83px;
    max-width: 460px;
  }
  .design__block {
    display: block;
    height: inherit;
    width: 45%;
    background-color: #ececec;
    position: relative;
    overflow: hidden;
  }
  .design__block::after {
    content: "";
    display: block;
    background-color: #fb8686;
    position: absolute;
    height: 410px;
    width: 144%;
    bottom: -26%;
    right: -43%;
    transform: rotate(-39deg);
    z-index: 1;
  }

  .features {
    margin-top: 0;
    background: url(../images/bg.png) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service {
    margin-top: 0;
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;
    min-height: 550px;
  }
  .service__big-container {
    display: flex;
  }
  .service__side-photo {
    display: block;
    margin-right: 30px;
    margin-left: 40px;
    position: relative;
  }
  .service__side-photo::before {
    content: "";
    display: block;
    background-color: #fb8686;
    position: absolute;
    height: 410px;
    width: 160%;
    bottom: -50%;
    left: -72%;
    transform: rotate(58deg);
    z-index: -1;
  }
  .service__side-photo_macbook {
    width: 500px;
    height: 310px;
  }
  .service__headline {
    max-width: 350px;
  }
  .service__text {
    max-width: 400px;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonials__container {
    padding-top: 90px;
  }
  .testimonials__partners {
    display: block;
    margin: 30px 0 50px;
  }

  .new-features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }
  .new-features__text {
    text-align: center;
  }
  .new-features__img {
    display: block;
  }

  .features-form {
    margin-top: 0;
    position: relative;
  }
  .features-form__block {
    display: flex;
    position: absolute;
    top: 115px;
    right: 160px;
  }
  .features-form__block span {
    margin-left: -27px;
  }
  .features-form__headline {
    font-size: 30px;
    width: max-content;
    margin-bottom: 30px;
  }
  .features-form__form {
    flex-direction: row;
    justify-content: center;
  }
  .features-form__input {
    width: 180px;
    height: 35px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .features-form__btn {
    height: 35px;
    margin-top: 0;
    width: 180px;
    font-size: 14px;
  }
  .features-form__text {
    margin: 40px 0 30px;
    color: #8084a0;
    font-size: 13px;
  }
  .features-form__text a {
    color: #8084a0;
    text-decoration: underline;
  }

  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__item {
    margin-bottom: 20px;
    margin-right: 60px;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }
  .footer__links h3 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .footer__links a {
    margin-bottom: 10px;
    color: #868686;
  }
  .footer__links a:last-child {
    margin-bottom: 0;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
  }
  .footer__form h3 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .footer__form_container {
    display: flex;
  }
  .footer__form_container input {
    width: 150px;
    border: 1px solid #b8b8bf;
    height: 30px;
    background-color: #f6f6f6;
    border-radius: 3px;
    padding-left: 10px;
  }
  .footer__form_container input::placeholder {
    text-transform: uppercase;
  }
  .footer__form_container button {
    background: #ff6d6d;
    margin-left: -7px;
    border: none;
    -webkit-box-shadow: 1px 3px 9px 0px #707070;
    -moz-box-shadow: 1px 3px 9px 0px #707070;
    box-shadow: 1px 3px 9px 0px #707070;
    border-radius: 2px;
    cursor: pointer;
  }
  .footer__form_social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .footer__form_social a {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1279px) {
  .header__heading {
    font-size: 60px;
    max-width: 750px;
  }
  .header__btn {
    height: 55px;
    width: 205px;
    font-size: 20px;
    line-height: 55px;
  }

  .design__block::after {
    height: 458px;
    width: 144%;
    bottom: -27%;
    right: -44%;
  }

  .features-form__block {
    right: 20%;
  }

  .service {
    justify-content: center;
  }
  .service__big-container {
    max-width: 1400px;
    display: flex;
  }
  .service__side-photo::before {
    left: -150%;
  }
}
@media screen and (min-width: 1799px) {
  .header__heading {
    font-size: 80px;
    max-width: 950px;
  }
  .header__btn {
    height: 60px;
    width: 245px;
    font-size: 20px;
    line-height: 60px;
  }

  .design {
    max-width: 1500px;
    margin: 0 auto;
    justify-content: center;
  }
  .design__block {
    display: none;
  }

  .service__side-photo::before {
    display: none;
  }

  .features-form__block {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
